<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="categories.css">
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <li><a href="#">Home</a></li>
          <li><a href="categories.html">Categories</a></li>
          <li><a href="#">Sign in</a></li>
          <li><a href="#">Sign up</a></li>
          <li><a href="#">Net</a></li>
          <li><a href="#">About</a></li>
          <li><a href="#">Contact</a></li>
        </ul>
      </nav>
    </header>
    <div class="breadcumb-wrapper">
      <h2 class="page-title">Categories</h2>
    </div>
    <div class="bg-main">
        <div class="container">
        <div class="box">
          <div class="breadcumb">
            <a href="#">Home</a>
            <span><i class='bx bxs-chevrons-right'></i></span>
            <a href="categories.html">Categories</a>
          </div>
          <ul class="pagination">  
              <select>
                <option value="option1">Most Popular</option>
                <option value="option2">Name (A-Z)</option>
                <option value="option3">Name (Z-A)</option>
                <option value="option2">Price (low to high)</option>
                <option value="option3">Price (high to low)</option>
              </select>
          </ul>
        </div>          
        <div class="box">
          <div class="row">
            <div class="col-3 filter-col" id="filter-col">
              <div class="box">
                <span class="filter-header">Categories</span>
                <ul class="filter-list">
                  <li><a href="tropical.html">Tropical Fish</a></li>
                  <li><a href="brackish.html">Brackish Fish</a></li>
                  <li><a href="hybrid.html">Hybrid Fish</a></li>
                  <li><a href="predatory.html">Predatory Fish</a></li>
                  <li><a href="coldwater.html">Coldwater Fish</a></li>
                  <li><a href="marine.html">Marine Fish</a></li>
                </ul>
              </div>
            </div>
            <div class="col-9 col-md-12">
              <div class="box">
                <div class="row" id="products"></div>
              </div>
            </div>
          </div>
        </div>
      </div>          
    </div>
    <script>
      let products = [
      {
        name: 'FROGFISH ANTENNARIUS BIOCELLATUS     10CM    ',
        image1: './images/b8.png',
        image2: './images/b8.png',
        curr_price: '£ 400.00'
    },
    {
        name: ' GIN RIN TANCHO KOI CARP   ',
        image1: './images/c6.png',
        image2: './images/c6.png',
        curr_price: '£ 4,995.00'
    },
    {
        name: 'PEACOCK SNAKEHEAD CHANNA BARCA 60CM    ',
        image1: './images/t7.png',
        image2: './images/t7.png',
        curr_price: '£ 4,000.00'
    },
    {
        name: 'FULL PEARL PLATINIUM GOLDEN BASE FLOWERHORN 12CM   ',
        image1: './images/h7.png',
        image2: './images/h7.png',
        curr_price: '£ 450.00'
    },
    {
        name: 'GIANT FRESHWATER PUFFER FISH TETRADON MBU 70CM   ',
        image1: './images/p7.png',
        image2: './images/p7.png',
        curr_price: '£ 1,000.00'
    },
    {
        name: 'XANTHIC GOLDEN AROWANA SCLEROPAGES FOMOSUS 20CM   ',
        image1: './images/t4.png',
        image2: './images/t4.png',
        curr_price: '£ 20,000.00'
    },
    
    {
        name: 'MARINE BASSLET FISH     ',
        image1: './images/m6.png',
        image2: './images/m6.png',
        curr_price: '£ 300.00'
    },
    
    
    {
        name: 'LEAF SCORPION FISH ',
        image1: './images/b1.png',
        image2: './images/b1.png',
        curr_price: '£ 550.00'
    },
    {
        name: 'MARINE BAT FISH   ',
        image1: './images/m7.png',
        image2: './images/m7.png',
        curr_price: '£ 300.00'
    },
]
let product_list = document.querySelector('#products')
renderProducts = (products) => {
    products.forEach(e => {
        let prod = `
            <div class="col-4 col-md-6 col-sm-12">
                <div class="product-card">
                    <div class="product-card-img">
                        <img src="${e.image1}" alt="">
                        <img src="${e.image2}" alt="">
                    </div>
                    <div class="product-card-info">
                        <div class="product-btn">
                            <a href="fish-detail.html" class="btn-flat btn-hover btn-shop-now">shop now</a>
                        </div>
                        <div class="product-card-name">
                            ${e.name}
                        </div>
                        <div class="product-card-price">
                            <span class="curr-price">${e.curr_price}</span>
                        </div>
                    </div>
                </div>
            </div>
        `
        product_list.insertAdjacentHTML("beforeend", prod)
    })
}
renderProducts(products)
    </script>
  </body>
</html>