* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.about-us img {
    height: auto;
    width: 415px;
}

.about-us {
    width: 100%;
    padding: 80px 0px;
    background-color: black;
}

.main {
    width: 1130px;
    max-width: 96%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.info {
    width: 555px;
}

.info h1 {
    color: aliceblue;
    margin-bottom: 18px;
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.info p {
    color: azure;
    font-size: 15px;
    line-height: 26px;
    margin-bottom: 42px;
    letter-spacing: 1px;
}

button {
    color: antiquewhite;
    background: rgb(200, 37, 200);
    font-weight: bold;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 28px;
    border: 2px solid transparent;
    transition: .3s;
}

button:hover {
    background: rgb(81, 2, 83);
    cursor: pointer;
    border: 3px solid rgb(200, 37, 200);
}

.button1 {
    color: antiquewhite;
    background: rgb(200, 37, 200);
    font-weight: bold;
    text-decoration: none;
    padding: 15px 30px;
    border-radius: 28px;
    border: 2px solid transparent;
    transition: .3s;
}

button1:hover {
    background: rgb(81, 2, 83);
    cursor: pointer;
    border: 3px solid rgb(200, 37, 200);
}

#aboutus {
    background-color: black;
}

.holder {
    width: 1165px;
    margin: auto;
}