.nav {
    float: right;
    list-style: none;
    margin-top: 30px;
}

.nav li {
    display: inline-block;
}

.nav li a {
    color: rgb(242, 239, 244);
    padding: 5px 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    text-decoration: none;
}

.nav li a:hover {
    background: #780250;
    color: aliceblue;
}

.nav ul li a {
    color: aliceblue;
}