*{
    margin: 0;
    padding: 0;
}
body{
    background: linear-gradient(rgba(0, 0, 0, 0), rgba(194, 7, 144, 0)), url(Bg.jpeg);
    background-position: left;
    background-repeat: no-repeat;background-color: black;
    font-size: 12px;
    font-family: 'Open Sans', sans-serif;
    height: 100vh;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;
    position: relative;
}
.container{
    width: 80%;
    margin: 50px auto;
}
.contact-box{
    background-color: purple;
    opacity: 85%;
    display: flex;
}
.contact-leftside {
    flex-basis: 60%;
    padding: 40px 60px;
}
.contact-rightside{
    flex-basis: 40%;
    padding: 40px;
    background: white;  
    color: black;
}
h1{
    margin-bottom: 10px;
}
.container p {
    margin-bottom: 40px;
}
.input-row{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.input-row .input-group{
    flex-basis: 45%;
}
input{
    width: 100%;
    border: none;
    border-bottom: 1px solid black;
    outline: none;
    padding-bottom: 5px;
}
textarea{
    width: 100%;
    outline: none;
    border: 1px solid black;
    padding: 10px;
    box-sizing: border-box;

}
label{
    margin-bottom: 5px;
    display: block;
    color: #385c6d;
}
button{
    background-color: white;
    border: none;
    width: 100px;
    outline: none;
    color:black;
    height: 35px;
    border-radius: 30px;
    margin-top: 20px;
    box-shadow: 0px 5px 15px 0px rgba(28,0,181,0.3);
}
.contact-leftside h3{
    font-weight: 600;
    margin-bottom: 30px;
}
.header img{
    float: left;
    width: 20px;
    height: 20px;
    
} 
.top-container{
    color: white;
}
.nav {
    float: right;
    list-style: none;
    margin-top: 30px;
  
  }
  
  .nav li {
    display: inline-block;
  }
  
  .nav li a {
    color: rgb(242, 239, 244);
    padding: 5px 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 15px;
    text-decoration: none;
  }
  
  .nav li a:hover {
    background: #780250;
    color: aliceblue;
  }
  
  .nav ul li a {
    color: aliceblue;
  }
