<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" th:href="@{/css/admin.css}" />
    <link rel="stylesheet" th:href="@{/css/navbar.css}" />
</head>

<body>
    <div th:replace="~{fragments/sidebar :: sidebar}"></div>
    <div class="first">
        <div class="topbar">
            <div class="toggle">
                <ion-icon name="menu-outline"></ion-icon>
            </div>

            <div class="user">
                <img th:src="@{/images/user_icon.png}" alt="">
            </div>
        </div>

        <div class="detail">
            <div class="formPage">
                <div class="cardHeader">
                    <h2>Update Order</h2>
                    <div>
                        <a th:href="@{/admin/orders}" class="btn" id="return">Return</a>
                        <a style="background-color: red;" th:href="@{'/admin/orders/delete?orderId=' + ${order.ID}}"
                            class="btn" id="return">Delete</a>
                    </div>
                </div>
                <table class="order-table">
                    <form th:action="@{'/admin/orders/update?orderId=' + ${order.ID}}" th:object="${orderDto}"
                        method="POST" autocomplete="off" class="create-form">
                        <tr>
                            <div class="field">
                                <td><label for="firstName">Name</label></td>
                                <td><input type="text" name="name" id="name" required th:name="name"
                                        th:value="|${order.user.firstName} ${order.user.lastName}|" readonly /></td>
                            </div>
                        </tr>
                        <tr>
                            <div class="field">
                                <td><label for="price">Price</label></td>
                                <td><input type="number" min="0" step="0.01" name="price" id="price" required
                                        th:name="price" th:value="${order.price}" /></td>
                            </div>
                        </tr>
                        <tr>
                            <div class="field">
                                <td><label for="time">Order Time</label></td>
                                <td><input type="datetime" name="time" id="time" required th:name="time"
                                        th:value="${order.time}" readonly /></td>
                            </div>
                        </tr>
                        <tr>
                            <div class="field">
                                <td><label for="status">Status</label></td>
                                <td><select name="status" id="status" required th:field="*{status}">
                                        <option th:each="status : ${status}" th:value="${status.name}"
                                            th:text="${status.name}" th:if="${status.name == order.status.name}"
                                            selected>
                                        </option>
                                        <option th:each="status : ${status}" th:value="${status.name}"
                                            th:text="${status.name}" th:unless="${status.name == order.status.name}">
                                        </option>
                                    </select></td>
                            </div>
                        </tr>
                </table>
                <div class="form_action--button">
                    <input type="submit" value="Submit">
                    <input type="reset" value="Reset">
                </div>
                </form>
            </div>

            <script th:src="@{/js/admin.js}"></script>
            <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
            <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>