<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin</title>
    <link rel="stylesheet" th:href="@{/css/admin.css}" />
    <link rel="stylesheet" th:href="@{/css/navbar.css}" />
</head>

<body>
    <div th:replace="~{fragments/sidebar :: sidebar}"></div>
    <div class="first">
        <div class="topbar">
            <div class="toggle">
                <ion-icon name="menu-outline"></ion-icon>
            </div>

            <div class="user">
                <img th:src="@{/images/user_icon.png}" alt="">
            </div>
        </div>

        <div class="detail">
            <div class="formPage">
                <div class="cardHeader">
                    <h2>New Product</h2>
                    <a th:href="@{/admin/products}" class="btn" id="return">Return</a>
                </div>
                <table class="product-table">
                    <form th:action="@{/admin/products/save}" th:object="${product}" method="POST" autocomplete="off"
                        class="create-form">
                        <tr>
                            <div class="field">
                                <td><label for="name">Name</label></td>
                                <td><input type="text" name="name" id="name" required th:field="*{name}" /></td>
                            </div>
                        </tr>
                        <tr>
                            <div class="field">
                                <td><label for="description">Description</label></td>
                                <td><input type="text" name="description" id="description" required
                                        th:field="*{description}" /></td>
                            </div>
                        </tr>
                        <tr>
                            <div class="field">
                                <td><label for="image">Image</label></td>
                                <td><input type="text" name="image" id="image" required th:field="*{image}" /></td>
                            </div>
                        </tr>
                        <tr>
                            <div class="field">
                                <td><label for="category">Category</label></td>
                                <td><select name="category" id="category" required th:field="*{category}">
                                        <div th:each="category : ${categories}">
                                            <option th:value="${category.name}" th:text="${category.name}"></option>
                                        </div>
                                    </select></td>
                            </div>
                        </tr>
                        <tr>
                            <div class="field">
                                <td><label for="price">Price</label></td>
                                <td><input type="number" min="0" step="0.01" name="price" id="price" required
                                        th:field="*{price}" /></td>
                            </div>
                        </tr>
                        <tr>
                            <div class="field">
                                <td><label for="stock">Stock</label></td>
                                <td><input type="number" min="0" step="1" name="stock" id="stock" required
                                        th:field="*{stock}" /></td>
                            </div>
                        </tr>
                </table>
                <div class="form_action--button">
                    <input type="submit" value="Submit">
                    <input type="reset" value="Reset">
                </div>
                </form>

                <table class="list" id="storeList">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Description</th>
                            <th>Image</th>
                            <th>Price</th>
                            <th>Category
                            <th>Stock</th>
                        </tr>
                        <tr>
                            <td style="text-align: center; font-weight: 300;" th:if="${preProduct != null}"
                                th:text="${preProduct.name}"></td>
                            <td style="text-align: center; font-weight: 300;" th:if="${preProduct != null}"
                                th:text="${preProduct.description}"></td>
                            <td style="text-align: center; font-weight: 300;" th:if="${preProduct != null}"
                                th:text="${preProduct.image}"></td>
                            <td style="text-align: center; font-weight: 300;" th:if="${preProduct != null}"
                                th:text="${preProduct.price}"></td>
                            <td style="text-align: center; font-weight: 300;" th:if="${preProduct != null}"
                                th:text="${preProduct.category.name}"></td>
                            <td style="text-align: center; font-weight: 300;" th:if="${preProduct != null}"
                                th:text="${preProduct.inventory.stock}"></td>
                        </tr>
                    </thead>
                </table>
            </div>

            <script th:src="@{/js/admin.js}"></script>
            <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
            <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>

</html>