<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Categories</title>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
  <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
  <link rel="stylesheet" th:href="@{/css/categories.css}" />
  <link rel="stylesheet" th:href="@{/css/navbar.css}" />
</head>

<body>
  <header>
    <div class="holder">
      <div th:replace="~{fragments/navbar :: navbar}"></div>
    </div>
  </header>
  <div class="breadcumb-wrapper">
    <h2 class="page-title">Categories</h2>
  </div>
  <div class="bg-main">
    <div class="container">
      <div class="box">
        <div class="breadcumb">
          <a th:href="@{/}">Home</a>
          <span><i class='bx bxs-chevrons-right'></i></span>
          <a th:href="@{/categories}">Categories</a>
        </div>
        <ul class="pagination">
          <select id="sort-selector">
            <option value="default">Default</option>
            <option value="nameAsc">Name (A-Z)</option>
            <option value="nameDesc">Name (Z-A)</option>
            <option value="priceAsc">Price (Low-High)</option>
            <option value="priceDesc">Price (High-Low)</option>
          </select>
        </ul>
      </div>
      <div class="box">
        <div class="row">
          <div class="col-3 filter-col" id="filter-col">
            <div class="box">
              <span class="filter-header">Categories</span>
              <ul class="filter-list">
                <li class="side"><a th:href="@{/tropical}">Tropical Fish</a></li>
                <li class="side"><a th:href="@{/brackish}">Brackish Fish</a></li>
                <li class="side"><a th:href="@{/hybrid}">Hybrid Fish</a></li>
                <li class="side"><a th:href="@{/predatory}">Predatory Fish</a></li>
                <li class="side"><a th:href="@{/coldwater}">Coldwater Fish</a></li>
                <li class="side"><a th:href="@{/marine}">Marine Fish</a></li>
              </ul>
            </div>
          </div>
          <div class="col-9 col-md-12">
            <div class="box">
              <form th:action="@{/categories}">
                <input type="text" id="search" name="search" />
                <div>
                  <input type="submit" value="Search" />
                  <a th:href="@{/categories}"><input type="button" value="Clear" /></a>
                </div>
              </form>
              <div class="row" id="products">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script th:inline="javascript">
    var products = /*[[${products}]]*/[];

    function formatPrice(x) {
      return x.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",");
    }

    let product_list = document.querySelector('#products')
    renderProducts = (products) => {
      products.forEach(e => {
        let prod = `
            <div class="col-4 col-md-6 col-sm-12">
                <div class="product-card">
                    <div class="product-card-img">
                        <img src="${e.image}" alt="">
                        <img src="${e.image}" alt="">
                    </div>
                    <div class="product-card-info">
                        <div class="product-btn">
                            <a href="/fish/details/${e.id}" class="btn btn-flat btn-hover btn-shop-now">shop now</a>
                        </div>
                        <div class="product-card-name">
                            ${e.name}
                        </div>
                        <div class="product-card-price">
                            <span class="curr-price">£ ` + formatPrice(`${e.price}`); `</span>
                        </div>
                    </div>
                </div>
            </div>
        `
        product_list.insertAdjacentHTML("beforeend", prod)
      });
    }
    renderProducts(products)
    const sortSelector = document.getElementById('sort-selector')
    sortSelector.addEventListener('change', () => {
      const value = sortSelector.value
      if (value === 'default') {
        products.sort((a, b) => (a.id > b.id) ? 1 :  -1);
      } else if (value === 'nameAsc') {
        products.sort((a, b) => a.name.localeCompare(b.name))
      } else if (value === 'nameDesc') {
        products.sort((a, b) => b.name.localeCompare(a.name))
      } else if (value === 'priceAsc') {
        products.sort((a, b) => parseFloat(a.price) - parseFloat(b.price))
      } else if (value === 'priceDesc') {
        products.sort((a, b) => parseFloat(b.price) - parseFloat(a.price))
      }
      document.getElementById('products').innerHTML = '';
      renderProducts(products)
    })
  </script>
</body>

</html>