<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Contact</title>
    <link rel="stylesheet" th:href="@{/css/contact.css}" />
    <link rel="stylesheet" th:href="@{/css/navbar.css}" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;800&display=swap" rel="stylesheet">
</head>

<body>
    <div class="container">
        <div class="top-container">
            <div th:replace="~{fragments/navbar :: navbar}"></div>
            <h1>Contact Us - Deep Waters</h1>
            <p>We would love to respond to any enquires.
                Feel free to get in touch.
            </p>
        </div>
        <div class="contact-box">
            <div class="contact-leftside">
                <h3>Send your enquiry</h3>
                <form id="form" action="#">
                    <div class="input_row">
                        <div class="input-group">
                            <td>Name</td>
                            <input type="text" id="name" placeholder="Demarcus Cousins">
                        </div>
                        <div class="input-group">
                            <td>Phone Number</td>
                            <input type="text" placeholder="+44">
                        </div>
                        <div class="input-group">
                            <td>Email</td>
                            <input type="email" id="email" placeholder="example@domain.com">
                        </div>
                        <div class="input-group">
                            <td>Confirm Email</td>
                            <input type="email" id="email_confirm" placeholder="example@domain.com">
                        </div>
                        <div class="input-group">
                            <td>Subject</td>
                            <input type="text">
                        </div>

                    </div>
                    <td>Message</td>
                    <textarea rows="5" placeholder="Your enquiry"></textarea>
                    <h3>How would you like to be Contacted?</h3>
                    <select name="dropBox" id="option">
                        <option>via Phone</option>
                        <option>via Email</option>
                    </select>
                    <br>
                    <button type="submit" onclick="pop()">SUBMIT</button>
                </form>
                <script type="text/JavaScript">
                    function email_Validation(){
                        var form = document.getElementById("form");
                        var form = document.getElementById("text");
                        var email = document.getElementById("email").value;
                        var email2 = document.getElementById("email_confirm").value;
                        var date = document.getElementByid("date").value;
                        var name = document.getElementById("name");
                        var option = document.getElementById("option");
                        var today = new Date().getTime();
                        function pop() {
                            alert("done");
                        }
                        if (email.match(email2)) && (date - today > 0){ 
                            alert("Thank you for your submission " + name + ". I will get in touch with you via " + option " shortly. Here is my email address: 210119570@aston.ac.uk");
                            return true;
                        }
                        else{
                            return false;
                        }
                    }
                </script>
            </div>
            <div class="contact-rightside">
                <h2>Our Contact details</h2>
                <table>
                    <tr>
                        <div class="header">
                            <br>
                            <img src="./images/phone.png" alt="phone" />
                            <h5> 016046785453</h5>
                        </div>
                        <div class="header">
                            <br><br>
                            <img src="./images/mail.png" alt="logo" />
                            <h5> help@companyname.com</h5>
                            <br> <br>
                        </div>


                    </tr>
                    <tr>
                        <br>
                        <img src="./images/map.png" width="400" height="200">
                        <pre>

Aston Express Way 
West Midlands, Birmigham  
B4 7ET 
                        </pre>

                    </tr>

                </table>


            </div>
        </div>
    </div>
</body>

</html>