<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shop</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap"
        rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" th:href="@{/css/categories.css}" />
    <link rel="stylesheet" th:href="@{/css/navbar.css}" />
</head>

<body>
    <div class="bg-main">
        <div class="container">
            <div th:replace="~{fragments/navbar :: navbar}"></div>
            <div class="box">
                <div class="breadcumb">
                    <a th:href="@{/}">Home</a>
                    <span><i class='bx bxs-chevrons-right'></i></span>
                    <a th:href="@{/categories}">Categories</a>
                    <span><i class='bx bxs-chevrons-right'></i></span>
                    <a th:href="@{/fish/details/{id}(id=${product.ID})}">[[${product.name}]] </a>
                </div>
            </div>

            <form th:action="@{'/net/add?productId=' + ${product.ID}}" th:object="${netDto}" method="POST">
                <div class="row product-row">
                    <div class="col-5 col-md-12">
                        <div class="product-img" id="product-img">
                            <img th:src="@{/{image}(image=${product.image})}" alt="">
                        </div>
                    </div>
                    <div class="col-7 col-md-12">
                        <div class="product-info">
                            <h1>
                                [[${product.name}]]
                            </h1>
                            <div class="product-info-detail">
                                <span class="product-info-detail-title">Rated:</span>
                                <span class="rating">
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                    <i class='bx bxs-star'></i>
                                </span>
                            </div>
                            <p class="product-description">
                                [[${product.description}]]
                            </p>
                            <div class="product-info-price" id="format"></div>
                            <div class="product-quantity-wrapper">
                                <span class="product-quantity-btn">
                                    <i class='bx bx-minus'></i>
                                </span>
                                <span class="product-quantity">1</span>
                                <input name="quantity" id="quantity" th:name="quantity" class="quantity" th:value="1" type="hidden"/>
                                <span class="product-quantity-btn">
                                    <i class='bx bx-plus'></i>
                                </span>
                            </div>
                            <div>
                                <button class="btn-flat btn-hover">Add To Cart</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script th:inline="javascript">
        var product = /*[[${product}]]*/[];
        function formatPrice(x) {
            return x.toString().replace(/\B(?<!\.\d*)(?=(\d{3})+(?!\d))/g, ",");
        }
        document.getElementById('format').innerHTML = "£ " + formatPrice(`${product.price}`);

        const minusBtn = document.querySelector('.bx-minus');
        const plusBtn = document.querySelector('.bx-plus');
        const quantity = document.querySelector('.product-quantity');
        minusBtn.addEventListener('click', () => {
            if (quantity.innerText > 1) {
                quantity.innerText = parseInt(quantity.innerText) - 1;

                document.getElementById("quantity").value = quantity.innerText;
            }
        });
        plusBtn.addEventListener('click', () => {
            if (quantity.innerText < product.inventory.stock) {
                quantity.innerText = parseInt(quantity.innerText) + 1;

                document.getElementById("quantity").value = quantity.innerText;
            }
        });
    </script>
</body>

</html>