<!DOCTYPE html>
<html lang="eng">

<head>
  <meta charset="UFT-8">
  <title>THE UNCOMMON CATCH</title>
  <link rel="stylesheet" href="Home-Style.css">
</head>

<body>
  <header>
    <div class="holder">
      <div class="logo">
        <img src="logo3.png" alt="Logo">
      </div>
      <ul class="nav">
        <li><a href="Homepage.html">Home</a></li>
        <li><a href="Categories.html">Categories</a></li>
        <li><a href="log_in.html">Login</a></li>
        <li><a href="sign_up.html">Sign up</a></li>
        <li><a href="#">Net</a></li>
        <li><a href="About.html">About</a></li>
        <li><a href="Contact.html">Contact</a></li>
      </ul>
    </div>
    <div class="text">
      <h1 style="color: aliceblue;">THE UNCOMMON CATCH</h1>
      
      <button type="button">Discover Sea Treasures</button>
    </div>
  </header>
</body>

</html>
