<!DOCTYPE html>
<html>

<head>
    <title>Net</title>
    <img> </img>
    <link rel="stylesheet" th:href="@{/css/net.css}"/>
    <link rel="stylesheet" th:href="@{/css/navbar.css}"/>
</head>

<body>
    <div th:replace="~{fragments/navbar :: navbar}"></div>
    <section class="net">
        <div class="main">
            <div class="intro">
                <h1>Your Basket </h1>
                <p
                    style="font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; color: aliceblue;">
                    Items you have added to your fishing net is shown here</p>
                <a href="/"><button type="button1">Home</button></a>
            </div>
        </div>
    </section>
</body>

</html>
