<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Categories</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap" rel="stylesheet">
    <link href='https://unpkg.com/boxicons@2.0.7/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="categories.css">
  </head>
  <body>
    <div class="breadcumb-wrapper">
      <h2 class="page-title">Categories</h2>
    </div>
    <div class="bg-main">
        <div class="container">
        <div class="box">
          <div class="breadcumb">
            <a href="#">Home</a>
            <span><i class='bx bxs-chevrons-right'></i></span>
            <a href="categories.html">Categories</a>
          </div>
          <ul class="pagination">
            <select id="sort-selector">
              <option value="popularity">Most Popular</option>
              <option value="nameAsc">Name (A-Z)</option>
              <option value="nameDesc">Name (Z-A)</option>
              <option value="priceAsc">Price (low to high)</option>
              <option value="priceDesc">Price (high to low)</option>
            </select>
          </ul>
        </div>          
        <div class="box">
          <div class="row">
            <div class="col-3 filter-col" id="filter-col">
              <div class="box">
                <span class="filter-header">Categories</span>
                <ul class="filter-list">
                  <li><a href="tropical.html">Tropical Fish</a></li>
                  <li><a href="brackish.html">Brackish Fish</a></li>
                  <li><a href="hybrid.html">Hybrid Fish</a></li>
                  <li><a href="predatory.html">Predatory Fish</a></li>
                  <li><a href="coldwater.html">Coldwater Fish</a></li>
                  <li><a href="marine.html">Marine Fish</a></li>
                </ul>
              </div>
            </div>
            <div class="col-9 col-md-12">
              <div class="box">
                <h2 class="description">A tropical fish is one that lives between
                   23-27°C, but it can come from both saltwater and freshwater.
                    They are often the brightest coloured, thanks to pigmented 
                    and iridescent cells on their skin. Though they all started as
                     a wild species, lots are now bred from captive specimens and this
                      means even more colours are available. Tropical fishes can be called 
                      any of various small fishes of tropical origin often are kept in aquariums.
                       They are interesting for their behaviour or showiness or both.  </h2>
                <div class="row" id="products"></div>
              </div>
            </div>
          </div>
        </div>
      </div>          
    </div>
    <script>
      let products = [
      {
        name: 'PLATINUM ARAPAIMA GIGAS',
        image1: './images/t1.png',
        image2: './images/t1.png',
        curr_price: '£ 50,000.00'
    },
    {
        name: 'PLATINIUM LEUCISTIC DATNOID',
        image1: './images/t2.png',
        image2: './images/t2.png',
        curr_price: '£ 50,000.00'
    },
    {
        name: 'PLATINIUM DILVER AROWANA',
        image1: './images/t3.png',
        image2: './images/t3.png',
        curr_price: '£ 50,000.00'
    },
    {
        name: 'XANTHIC GOLDEN AROWANA',
        image1: './images/t4.png',
        image2: './images/t4.png',
        curr_price: '£ 20,000.00'
    },
    {
        name: 'KING CHILLI RED SHORT BODIED AROWANA',
        image1: './images/t5.png',
        image2: './images/t5.png',
        curr_price: '£ 10,000.00'
    },
    {
        name: 'XANTHIC GOLDEN DATNOID',
        image1: './images/t6.png',
        image2: './images/t6.png',
        curr_price: '£ 5,000.00'
    },
    {
        name: 'PEACOCK SNAKEHEAD CHANNA BARCA',
        image1: './images/t7.png',
        image2: './images/t7.png',
        curr_price: '£ 4,000.00'
    },
    {
        name: 'ALBINO BLACK DIAMOND POLKA DOT STINGRAY ',
        image1: './images/t8.png',
        image2: './images/t8.png',
        curr_price: '£ 3,500.00'
    },
    {
        name: 'ZEBRA PLECO HYPANCISTRUS',
        image1: './images/t9.png',
        image2: './images/t9.png',
        curr_price: '£ 3,000.00'
    },  
]
let product_list = document.querySelector('#products')
  renderProducts = (products) => {
    product_list.innerHTML = "";
    products.forEach(e => {
      let prod = `
        <div class="col-4 col-md-6 col-sm-12">
          <div class="product-card">
            <div class="product-card-img">
              <img src="${e.image1}" alt="">
              <img src="${e.image2}" alt="">
            </div>
            <div class="product-card-info">
              <div class="product-btn">
                <a href="fish-detail.html" class="btn-flat btn-hover btn-shop-now">shop now</a>
              </div>
              <div class="product-card-name">
                ${e.name}
              </div>
              <div class="product-card-price">
                <span class="curr-price">${e.curr_price}</span>
              </div>
            </div>
          </div>
        </div>
      `;
      product_list.insertAdjacentHTML("beforeend", prod);
    });
  }
  renderProducts(products)
const sortSelector = document.getElementById('sort-selector')
sortSelector.addEventListener('change', () => {
const value = sortSelector.value
if (value === 'popularity') {
products.sort(() => Math.random() - 0.5);
} else if (value === 'nameAsc') {
products.sort((a, b) => a.name.localeCompare(b.name))
} else if (value === 'nameDesc') {
products.sort((a, b) => b.name.localeCompare(a.name))
} else if (value === 'priceAsc') {
products.sort((a, b) => parseFloat(a.curr_price.replace(/[^0-9.-]/g, '')) - parseFloat(b.curr_price.replace(/[^0-9.-]/g, '')))
} else if (value === 'priceDesc') {
products.sort((a, b) => parseFloat(b.curr_price.replace(/[^0-9.-]/g, '')) - parseFloat(a.curr_price.replace(/[^0-9.-]/g, '')))
}
renderProducts(products)
})
    </script>
  </body>
</html>