<!DOCTYPE html>
<html>

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Orders</title>
	<link rel="stylesheet" type="text/css"
		href="http://fonts.googleapis.com/css?family=Ubuntu:regular,bold&subset=Latin">
	<link rel="stylesheet" th:href="@{/css/userupdate.css}" />
	<link rel="stylesheet" th:href="@{/css/navbar.css}" />
</head>

<body>
	<header>
		<div class="holder">
			<div th:replace="~{fragments/navbar :: navbar}"></div>
		</div>
	</header>
	<div class="checkout">
		<div class="container">
			<div class="left">
				<h3>Update Account</h3>
				<form th:action="@{/user/update}" th:object="${userDto}" method="POST" autocomplete="off" class="create-form">

					<label style="color: white;" for="firstname">First Name: </label>
					<input type="text" id="firstname" name="firstname" th:field="*{firstName}" required />
					<p class="alert alert-danger" th:if="${#fields.hasErrors('firstName')}" th:errors="*{firstName}">
					</p>

					<label style="color: white;" for="lastname">Last Name: </label>
					<input type="text" id="lastname" name="lastname" th:field="*{lastName}" required />
					<p class="alert alert-danger" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></p>

					<label style="color: white;" for="email">Email: </label>
					<input type="text" id="email" name="email" th:field="*{email}" required />
					<p class="alert alert-danger" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></p>
					<p class="alert alert-danger" th:if="${emailError != null}" th:text="${emailError}"></p>

					<label style="color: white;" for="password">Password: </label>
					<input type="password" id="password" name="password" th:field="*{password}" />
					<p class="alert alert-danger" th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></p>

					<div class="form_action--button">
						<input type="submit" value="Submit">
					</div>

				</form>
			</div>
		</div>
	</div>
</body>

</html>